Se cargan los datos por medio de la libreria Panda "import pandas as pd"

se leen los datos "df = pd.read_csv("./Datos/AB_NYC_2019.csv")"

Se muestran los dtos "df"

Me muestra la cantidad de columnas escritas "df.head(5)"

In [15]:
import pandas as pd
df = pd.read_csv("./Ejercicio_3/AB_NYC_2019.csv", index_col= ["id"])
df
df.head(5)

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
id,,,,,,,,,,,,,,,
2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

Problematicas

In [9]:
# Rellenar reviews_per_month con 0 donde number_of_reviews es 0
df['reviews_per_month'] = df.apply(
    lambda row: 0 if pd.isnull(row['reviews_per_month']) and row['number_of_reviews'] == 0 else row['reviews_per_month'],
    axis=1
)

# Rellenar las columnas name y host_name con 'Desconocido' (o puedes eliminarlas si prefieres)
df['name'].fillna('Desconocido', inplace=True)
df['host_name'].fillna('Desconocido', inplace=True)

# Revisar si quedan nulos
print(df.isnull().sum())

name                                  0
host_id                               0
host_name                             0
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                     0
calculated_host_listings_count        0
availability_365                      0
dtype: int64

C:\Users\mao14\AppData\Local\Temp\ipykernel_8832\2833883211.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['name'].fillna('Desconocido', inplace=True)
C:\Users\mao14\AppData\Local\Temp\ipykernel_8832\2833883211.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['host_name'].fillna('Desconocido', inplace=True)

In [10]:
print(df.isnull().sum())

name                                  0
host_id                               0
host_name                             0
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                     0
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [11]:
# Revisar valores extremos en price
print(df['price'].describe())

# Eliminar registros con precios muy altos (ej. más de 1000 USD por noche)
df = df[df['price'] <= 1000]

# Filtrar minimum_nights absurdos (ej. más de 365 noches)
df = df[df['minimum_nights'] <= 365]

count    48895.000000
mean       152.720687
std        240.154170
min          0.000000
25%         69.000000
50%        106.000000
75%        175.000000
max      10000.000000
Name: price, dtype: float64

In [12]:
# Convertir last_review a formato datetime
df['last_review'] = pd.to_datetime(df['last_review'], errors='coerce')

In [13]:
# Limpiar espacios y pasar a minúscula
df['room_type'] = df['room_type'].str.strip().str.lower()
df['neighbourhood_group'] = df['neighbourhood_group'].str.strip().str.lower()
df['neighbourhood'] = df['neighbourhood'].str.strip().str.lower()

In [14]:
df.to_csv("AB_NYC_2019_limpio.csv", index=False)